FOLDER=`pwd`

#Cloudflare parameters
ZONE_ID=
DNS_RECORDS_ID=
EMAIL=
KEY=
TYPE=A
NAME=
TTL=1
PROXIED=false

#CloudflareSpeedTest parameters
TESTURL=
TARGETSPEED=12
TARGETNUMBEROFIP=3
$TESTLENGTH=5

#Telegram API
NOTIFY_TG=1
NOTIFY_TG_ABORT=1
TG_BOT_TOKEN=
TG_USER_ID=
TG_MODE='MARKDOWN'
TG_URL="https://api.telegram.org/bot${TG_BOT_TOKEN}/sendMessage"
